<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<%- include("../partials/flash") %>

<div class="container p-4 rounded">
	<h1 class="display-4 text-center mb-3">Add a New Comment to <%= planet.name %></h1>

	<form action="/planets/<%= planet._id %>/comments" method="POST">
		<div class="form-group">
			<textarea class="form-control" name="comment[text]" rows="4" placeholder="Comment text..." required></textarea>
		</div>

		<button class="btn btn-primary" type="submit">Add New Comment</button>
	</form>
</div>

<%- include("../partials/footer") %>