<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<%- include("../partials/flash") %>

<div class="container">
	<h1 class="diplay-3">All Planets</h1>
	<p class="lead">A list of all worlds created by users.</p>
	<a class="btn btn-success" href="/planets/new">Create a Planet</a>
	<hr>

	<div class="row">
		<% for (const planet of planets) { %>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card mb-2">
					<div class="card-img-top" style="height: 150px; background-color: black;">
						<div style="border-radius: 50%; background-color: <%= planet.colour %>; width: 100px; height: 100px; margin: 25px auto;"></div>
					</div>
	
					<div class="card-body">
						<h4 class="card-title"><%= planet.name %></h4>
						<p class="card-text"><small class="text-muted">Created by <%= planet.author %>.</small></p>
						<p class="card-text"><%= planet.description.length > 250 ? planet.description.substring(0, 250) + "..." : planet.description %></p>
						<a clas="btn btn-warning" href="#">More Info</a>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>

<%- include("../partials/footer") %>