<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<%- include("../partials/flash") %>

<div class="container">
	<div class="row mb-4">
		<div class="col-12">
			<div class="border rounded p-4">
				<h2 class="display-4 text-center mb-3"><%= planet.name %></h2>
				<p class="text-center"><small class="text-muted">Created by <%= planet.author.username %></small></p>
				<hr class="d-none d-sm-block mx-sm-2">
				<p><%= planet.description %></p>

				<% if (currentUser !== undefined && planet.author.id.equals(currentUser._id)) { %>
					<a class="btn btn-warning btn-md" href="/planets/<%= planet._id %>/edit">Edit</a>

					<form class="d-inline" action="/planets/<%= planet._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-md">Delete</button>
					</form>
				<% } %>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-12 col-md-8">
			<div class="border border-dark rounded" style="display: flex; height: 400px; background-color: black;">
				<div class="m-auto rounded-circle" style="position: relative; width: 25%; height: 0; padding-bottom: 25%; background-color: <%= planet.colour %>;"></div>
			</div>
		</div>

		<div class="col-12 col-md-4">
			<div class="card">
				<div class="card-header">
					<h5>Information</h5>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>Diameter:</strong> <%= planet.diameter %>km</li>
					<li class="list-group-item"><strong>Moons:</strong> <%= planet.moonCount %></li>
					<li class="list-group-item"><strong>Star name:</strong> <%= planet.starName %></li>
					<li class="list-group-item"><strong>Distance from star:</strong> <%= planet.distanceFromStar %>AU</li>
				</ul>
			</div>
		</div>

		<div class="col-12">
			COMMENTS!
		</div>
	</div>
</div>

<%- include("../partials/footer") %>