<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<%- include("../partials/flash") %>

<div class="container p-4 rounded">
	<div class="row mb-4">
		<div class="col-12">
			<div class="border rounded p-4">
				<h2 class="display-4 text-center mb-3"><%= planet.name %></h2>
				<p class="text-center"><small class="text-muted">Created by <%= planet.author.username %>.</small></p>
				<hr class="d-none d-sm-block mx-sm-2">
				<p><%= planet.description %></p>

				<% if (currentUser !== undefined && (planet.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
					<a class="btn btn-warning btn-md" href="/planets/<%= planet._id %>/edit">Edit</a>
					<button class="btn btn-danger btn-md" type="button" data-toggle="modal" data-target="#deletePromptModal">Delete</button>
				<% } %>
			</div>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col-12 col-md-8">
			<div class="planet-background border border-dark rounded">
				<div id="particleStars"></div>

				<div class="planet-container">
					<div class="m-auto rounded-circle planet" style="background-color: <%= planet.colour %>;"></div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-4">
			<div class="card">
				<div class="card-header">
					<h5>Information</h5>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>Diameter:</strong> <%= planet.diameter %>km</li>
					<li class="list-group-item"><strong>Moons:</strong> <%= planet.moonCount %></li>
					<li class="list-group-item"><strong>Star name:</strong> <%= planet.starName %></li>
					<li class="list-group-item"><strong>Distance from star:</strong> <%= planet.distanceFromStar %>AU</li>
				</ul>
			</div>
		</div>
	</div>

	<a class="btn btn-success mb-2" href="/planets/<%= planet._id %>/comments/new">Add a New Comment</a>

	<div class="row mb-4">
		<div class="col-12">
			<div class="list-group">
				<% for (const comment of planet.comments) { %>
					<div class="list-group-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1"><%= comment.author.username %> says:</h5>
							<% const daysAgo = Math.ceil((Date.now() - comment.creationDate) / (1000 * 60 * 60 * 24)) %>
							<small class="text-muted"><%= daysAgo %> day <%= daysAgo === 1 ? "" : "s" %> ago.</small>
						</div>

						<p class="mb-1"><%= comment.text %></p>

						<% if (currentUser !== undefined && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
							<% console.log(currentUser.isAdmin) %>
							<a class="btn btn-warning btn-sm" href="/planets/<%= planet._id %>/comments/<%= comment._id %>/edit">Edit</a>
		
							<form class="d-inline" action="/planets/<%= planet._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-sm">Delete</button>
							</form>
						<% } %>
					</div>
				<% } %>
			</div>
		</div>
	</div>

	<div id="deletePromptModal" class="modal fade" tabindex="-1" role="alert" aria-labelledby="deletePromptLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="deletePromptLabel" class="modal-title">Delete <%= planet.name %></h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p>Are you sure you want to delete <%= planet.name %>?</p>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary btn-md" type="button" data-dismiss="modal">Cancel</button>

					<form class="d-inline" action="/planets/<%= planet._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-md">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
<script src="/scripts/stars.js" type="text/javascript"></script>

<%- include("../partials/footer") %>